.image-front{
    height:300px;
    overflow: hidden;
    object-fit: cover;
}
.icon{
    color:black
}
@media(max-width:576px){
    .card{
        width:100%;
        contain:content;
        display: inline-block;
      
    }
   
}